<div class="container">
  <div class="leftbar">
    <a href="#"><h1>東京</h1></a>
    <ul>
      <li><%= link_to '投稿しよう（無料）', new_listing_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to 'マイアカウント', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'マイリスト', mylistings_path %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
      <% end %>
    </ul>
    <form>
      <p>検索</p>
      <%= form_tag search_listings_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: 'search' %>
      <%= text_field_tag :locatioon, nil, placeholder: 'near' %>
      <%= select_tag :category, options_for_select(Category.all.map{|c|[c.name, c.id]}) %>
      <%= submit_tag '>' %>
      <% end %>
    </form>
  </div>
  <div class="center-column" >
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'コミュニティ', category_path(@community) %></th>
        </tr>
        <tr>
          <td>
            <% @community.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'イベント', category_path(@event) %></th>
        </tr>
        <tr>
          <td>
             <% @event.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@event, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'サービス', category_path(@service) %></th>
        </tr>
        <tr>
          <td>
             <% @service.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@service, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to '不動産', category_path(@housing) %></th>
        </tr>
        <tr>
          <td>
             <% @housing.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to '販売', category_path(@sale) %></th>
        </tr>
        <tr>
          <td>
             <% @sale.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@sale, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-three">
      <table>
        <tr>
          <th class="table-header"><%= link_to '求人', category_path(@job) %></th>
        </tr>
        <tr>
          <td>
             <% @job.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@job, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rightbar">
    <ul class="rightbar-top">
      <li><%= link_to 'ヘルプ', help_path %></li>
      <li><%= link_to 'avoid scams & fraud', scams_path %></li>
      <li>personal safety tips</li>
      <li class="rightbar-top">terms of use</li>
      <li>privacy policy</li>
      <li>about rubyslist</li>
      <li>contact us</li>
    </ul>
  </div>
</div>
